<div class="main-container">

  <div class="header">
    <div>
      Biztosan törölni szeretné az API kulcsot?
    </div>
    <div class="svg-container">
      <svg-icon svgClass="svg-button" [applyClass]="true" src="/assets/icons/close-outline.svg" [svgStyle]="{ 'width.px': 24 }" (click)="close()"></svg-icon>
    </div>
  </div>

  <div class="content">
    <button class="button" (click)="confirm()">Törlés</button>
    <button class="button button--secondary" (click)="cancel()">Mégsem</button>
  </div>
</div>
