@import "/src/assets/common.scss";

:host {
  padding: 12px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 18px;

  .svg-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.api__form {
  display: flex;
  flex-direction: column;

  gap: 10px;
  border-radius: 6px;
  background: #fff;
  padding: 8px 0 16px 0;

  .api__form__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    font-size: 18px;
    font-weight: 700;
  }

  .api__form__field {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  input {
    width: 260px!important;
  }
}

.button-container {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 8px;



  button {
    width: 100%;
  }
}
