
<div class="header">
  GPI API kulcs hozzáadása
</div>

<form class="api__form">
  <div class="api__form__field">
    <label for="name">
      API kulcs név
    </label>
    <input
      [(ngModel)]="name"
      autocomplete="off"
      id="name"
      name="name"
      type="text"
      class="input"
      placeholder="Tetszőleges név"/>
    <div class="error-msg" *ngIf="showNameError">
      Az API kulcs nevének megadása kötelező.
    </div>
  </div>

  <div class="api__form__field">
    <label for="key">
      API kulcs érték
    </label>
    <input
      #keyInput
      autocomplete="off"
      id="key"
      name="key"
      type="text"
      class="input"
      [(ngModel)]="key"
      placeholder="GPI API Kulcs" />
    <div class="error-msg" *ngIf="showKeyError">
      Az API kulcs megadása kötelező.
    </div>
  </div>
</form>
<div class="button-container">
  <button class="button button--secondary" (click)="cancel()">Mégsem</button>
  <button class="button" (click)="save()">Mentés</button>
</div>
