<div class="header">
  <div>
    Bejelentkezés
  </div>
  <svg-icon svgClass="close-button" [applyClass]="true" src="/assets/icons/close-outline.svg" [svgStyle]="{ 'width.px': 28 }"></svg-icon>
</div>

<form [formGroup]="formGroup" class="login__form">

  <div class="login__form__field login__form__email">
    <label for="email">
      E-mail cím
    </label>
    <mat-form-field  [appearance]="'outline'">
      <input
        matInput
        [formControlName]="'email'"
        autocomplete="off"
        id="email"
        name="email"
        type="text"
        class="input"
        placeholder="user@example.com" />
    </mat-form-field>
    <div class="error">
      <span *ngIf="formGroup.controls.email.hasError('invalid')">
        Az E-mail cím megadása kötelező.
      </span>
    </div>
  </div>

  <div class="login__form__field login__form__password">
    <label for="password">
      Jelszó
    </label>
    <mat-form-field [appearance]="'outline'">
      <input
        matInput
        [formControlName]="'password'"
        autocomplete="off"
        id="password"
        name="password"
        type="password"
        class="input"
        placeholder="●●●●●"
        [class.input--error]="formGroup.controls.password.hasError('invalid')" />
    </mat-form-field>
    <div class="error">
      <span *ngIf="formGroup.controls.password.hasError('invalid')">
        Az jelszó megadása kötelező.
      </span>
    </div>
  </div>

  <div class="button-container">
    <div id="login-button" class="button">Bejelentkezés</div>
    <div class="link-container">
      <a class="link" href="https://google.com" target="_blank">Regisztráció</a>
    </div>
  </div>
</form>
