<div class="header">
  <div>
    Bejelentkezés
  </div>
  <svg-icon svgClass="close-button" [applyClass]="true" src="/assets/icons/close-outline.svg" [svgStyle]="{ 'width.px': 28 }" (click)="close()"></svg-icon>
</div>

<form [formGroup]="formGroup" class="login__form">

  <div class="login__form__field login__form__email">
    <label for="email">
      E-mail cím
    </label>
    <mat-form-field  [appearance]="'outline'">
      <input
        matInput
        [formControlName]="'email'"
        autocomplete="off"
        id="email"
        name="email"
        type="text"
        class="input"
        placeholder="user@example.com" />
      <mat-error *ngIf="formGroup.controls.email.hasError('invalid')">
        <div class="error">
          Az E-mail cím megadása kötelező.
        </div>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="login__form__field login__form__password">
    <label for="password">
      Jelszó
    </label>
    <mat-form-field [appearance]="'outline'">
      <input
        matInput
        [formControlName]="'password'"
        autocomplete="off"
        id="password"
        name="password"
        type="text"
        class="input"
        placeholder="●●●●●" />
      <mat-error *ngIf="formGroup.controls.password.hasError('invalid')">
        <div class="error">
          A jelszó megadása kötelező.
        </div>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button" (click)="login()">Bejelentkezés</div>
</form>
