
/*
  Variables
*/
$fontColor: #666666;
$secondaryFontColor: #999999;
$fontColorLight: #f7f7f7;
$placeholderColor: #727272;
$svgHoverColor: #19D3F1;
$backgroundColor: #f1f2f3;
$inputBackgroundColor: #e6efff;
$inputFocusBackgroundColor: #ffffc8;

$borderColor: #c7c7c7;
$activeBorderColor: #19D3F1;
$buttonColor: #19D3F1;
$buttonSecondaryColor: #aaaaaa;
$buttonHoverColor: #347dd1;
$errorRed: #f83737;

/*
  Mixins
*/
@mixin disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}



/*
  Common style
*/
input {
  color: $placeholderColor;
  background: $inputBackgroundColor!important;
  padding: 8px;
  padding-left: 12px;

  border-radius: 6px;
  height: 15px;

  &:focus {
    background: $inputFocusBackgroundColor;
    color: $fontColor;
    outline: none;
  }
}

.input--error {
  color: $errorRed!important;
}

.mdc-text-field--outlined {
  overflow: hidden!important;
}

.mdc-text-field--outlined {
  padding: 0!important;
}

.mdc-text-field {
  padding: 0!important;
}

label {
  font-size: 12px;
  color: $placeholderColor;
}


.svg-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    fill: $svgHoverColor;
  }
}

.svg-button--no-hover {
  display: flex;
  align-items: center;
}


.button {
  @include disable-select;

  border-radius: 6px;
  background: $buttonColor;
  color: $fontColorLight;
  text-transform: uppercase;
  font-size: 16px;
  height: 45px;
  outline: none;
  border: none;
  transition: all 0.2s;
  font-weight: 500;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: $buttonHoverColor;
  }
}

.button--secondary {
  background: $buttonSecondaryColor;
}


.button--small {
  @include disable-select;

  border-radius: 6px;
  background: $buttonColor;
  color: $fontColorLight;
  text-transform: uppercase;
  font-size: 14px;
  height: 28px;
  outline: none;
  border: none;
  transition: all 0.2s;
  font-weight: 500;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: $buttonHoverColor;
  }
}


.link {
  color: $placeholderColor;
  font-size: 11px;
}

.error {
  font-size: 12px;
  color: $errorRed;

  transform: translateY(-20px);
}

.content-box {
  display: flex;
  flex-direction: column;

  gap: 10px;
  border-radius: 6px;
  background: #fff;
  padding: 8px 12px 16px 12px;

  .content-box__header {
    font-size: 16px;
    color: $fontColor;
    margin-bottom: 12px;
  }

}

mat-dialog-container {
  position: fixed!important;
  top: 0!important;
  left: 0!important;
  width: 100%!important;
  height: 100%!important;
  max-height: 100%!important;
  max-width: 100%!important;

  background: #52525233!important;

  .mdc-dialog__container {
    .mat-mdc-dialog-surface {
      min-width: 200px!important;
      min-height: 150px!important;

      max-width: 350px!important;
      max-height: 1000px!important;

      height: fit-content!important;
      width: fit-content!important;

      padding: 12px;

      background: #fff!important;
    }
  }
}
