
/*
  Variables
*/
$fontColor: #383838;
$fontColorLight: #e2e2e2;
$placeholderColor: #636363;
$backgroundColor: #f1f2f3;
$inputBackgroundColor: #e6efff;
$inputFocusBackgroundColor: #ffffc8;

$borderColor: #535353;
$activeBorderColor: #257bdf;
$buttonColor: #257bdf;
$buttonHoverColor: #3889e6;
$errorRed: #f83737;

/*
  Mixins
*/
@mixin disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}



/*
  Common style
*/
input {
  color: $placeholderColor;
  background: $inputBackgroundColor!important;
  padding: 8px;
  padding-left: 12px;

  border-radius: 6px;
  height: 15px;

  &:focus {
    background: $inputFocusBackgroundColor;
    color: $fontColor;
    outline: none;
  }
}

.input--error {
  color: $errorRed!important;
}

.mdc-text-field--outlined {
  overflow: hidden!important;
}

.mdc-text-field--outlined {
  padding: 0!important;
}

.mdc-text-field {
  padding: 0!important;
}

label {
  font-size: 12px;
  color: $placeholderColor;
}


.close-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    fill: $placeholderColor;
  }
}


.button {
  @include disable-select;

  border-radius: 6px;
  background: $buttonColor;
  color: $fontColorLight;
  text-transform: uppercase;
  font-size: 16px;
  height: 20px;
  outline: none;
  border: none;
  transition: all 0.2s;
  font-weight: 500;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: $buttonHoverColor;
  }
}

.link {
  color: $placeholderColor;
  font-size: 11px;
}

.error {
  font-size: 12px;
  color: $errorRed;

  transform: translateY(-20px);
}
